@import "variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

header.navbar {
  box-shadow: $box-shadow;

  > nav {
    @extend .container-xl;

    max-width: $main-max-width;
  }
}

.navbar-brand {
  padding: 0;
  margin: 0;
  color: $light;

  @include media-breakpoint-up(lg) {
    margin-right: var(--bs-navbar-brand-margin-end);
    padding-bottom: var(--bs-navbar-brand-padding-y);
  }

  &:hover,
  &:focus,
  &:active {
    fill: $white;
  }
}

.navbar-toggler {
  border: 0;
}

.navbar.bg-dark .vr {
  margin: 0.25em var(--bs-navbar-brand-margin-end);
  opacity: 1;
}

.nav-link.active {
  font-weight: $font-weight-semibold;
}

.nav-item.social {
  margin-top: 0.25rem;

  @include media-breakpoint-up(lg) {
    margin: 10px 0 0 8px;
  }
}
