@import "../../node_modules/bootstrap/scss/mixins";

:root {
  &.no-smooth-scrolling {
    scroll-behavior: auto;
  }

  &.no-smooth-scrolling-lg {
    @include media-breakpoint-down(lg) {
      scroll-behavior: auto;
    }
  }
}
