@import "variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.navbar-toc-icon {
  @extend .navbar-toggler-icon;

  background-image: url("{{ partial `bootstrap-icon.url` (dict `file` `book` `color` `#{$navbar-dark-color}`) }}");
}

.toc {
  padding: 0;

  @include media-breakpoint-up(lg) {
    position: fixed;
    top: calc(#{$navbar-content-height} + #{$nav-link-padding-y} * 2);
    bottom: 0;
    display: block;
    width: $sidebar-width;
    padding: 1rem calc(var(--bs-gutter-x) / 2) 0 1rem;
    margin: 1.5rem 0 0 -1rem;
    overflow-y: auto;
  }

  .offcanvas {
    @include media-breakpoint-up(lg) {
      position: unset;
      width: unset;
      height: unset;
      background-color: transparent !important;
      transform: none;
      transition: none;
      visibility: unset;
    }
  }

  .offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  li ul {
    padding-left: 1rem;
  }
}

.navbar-toc {
  @extend .navbar-nav;

  @include media-breakpoint-up(lg) {
    width: 100%;
    flex-direction: column;
  }
}

.toc-link {
  @extend .nav-link;

  @include media-breakpoint-up(lg) {
    --bs-navbar-active-color: $gray-700;
    --bs-nav-link-hover-color: $gray-700;

    display: inline-block;
    padding: 0.1rem 0;
    color: $gray-700;
    font-size: $font-size-sm;
    transition: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.toc-version-switch {
  @extend .navbar-toc;

  display: block;
  color: $white;

  @include media-breakpoint-up(lg) {
    color: $gray-700;
    font-size: $font-size-sm;
  }

  .toc-link {
    display: inline-block;

    @include media-breakpoint-down(lg) {
      margin: 0 1ch;
    }
  }
}
