// Generic Variables
$primary: #278200;
$dark: #33ad00;
$light: #d6efd2;
$white: #fff;
$transition-time: 0.15s;

// Custom Variables
$main-max-width: 1140px;
$sidebar-width: 15rem;

// Component Variables
$container-padding-x: 3rem;
$navbar-content-height: 2.5rem;
$navbar-dark-opacity: 0.75;
$navbar-dark-hover-opacity: 1;
$navbar-dark-color: rgba($white, $navbar-dark-opacity);
$navbar-dark-hover-color: rgba($white, $navbar-dark-hover-opacity);
