@import "variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.dropdown-item {
  padding-right: 4rem;

  &.active {
    font-weight: $font-weight-semibold;
    color: inherit;
    background: inherit;
  }

  &:hover,
  &:focus,
  &:active {
    color: $primary;
    background: $light;
  }
}
