@import "variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.page .table {
  tr {
    &:first-child > th {
      padding-top: 0;
      white-space: nowrap;
    }

    &:last-child > th {
      border-bottom-width: calc(#{$border-width} * 2);
    }

    > td {
      border-top-width: $border-width;
      border-bottom-width: 0;

      > p:last-child {
        margin-bottom: 0;
      }
    }

    > td:not(:last-child) {
      white-space: nowrap;
    }

    > td:last-child {
      min-width: 8rem;
    }

    &:first-child > td {
      border-top-width: 0;
    }

    &:last-child > td {
      padding-bottom: 0;

      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    display: block;

    thead {
      display: none;
    }

    tbody {
      display: block;
    }

    tr {
      display: block;

      &:not(:first-child) {
        padding-top: 1rem;
      }

      td {
        display: block;
        padding: 0;
        border: none;
        white-space: normal;

        &:nth-last-child(2) {
          color: var(--bs-link-color);
          font-family: var(--bs-font-monospace);
          font-size: $code-font-size;
        }

        &:nth-last-child(3) {
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}
