RewriteEngine On
RewriteBase /

DirectoryIndex index.html
ErrorDocument 404 /404.html

RewriteRule ^v1/(.*)$ / [R=301,L]
RewriteRule ^(configuration|documentation|download(-preview)?|extending|external-resources|getting-started|logging)/$ /v2/$1/ [R=301,L]
RewriteRule ^javadoc/(.*)$ /v2/javadoc/$1 [R=301,L]

RewriteRule ^count-js$ /matomo/matomo.js [L]
RewriteRule ^count-php$ /matomo/matomo.php [L]

RewriteCond %{HTTP:Accept-encoding} br
RewriteCond %{REQUEST_URI} .*\.(css|html|js|svg|xml)
RewriteCond %{REQUEST_FILENAME}\.br -s
RewriteRule ^(.+) $1.br
RewriteRule \.css\.br$ - [T=text/css,E=no-brotli:1,E=no-gzip:1]
RewriteRule \.html\.br$ - [T=text/html,E=no-brotli:1,E=no-gzip:1]
RewriteRule \.js\.br$ - [T=application/javascript,E=no-brotli:1,E=no-gzip:1]
RewriteRule \.svg\.br$ - [T=image/svg+xml,E=no-brotli:1,E=no-gzip:1]
RewriteRule \.xml\.br$ - [T=application/xml,E=no-brotli:1,E=no-gzip:1]
<FilesMatch \.(css|html|js|svg|xml)\.br$>
    RemoveLanguage br
    Header set Content-Encoding br
    Header append Vary Accept-Encoding
</FilesMatch>

RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_URI} .*\.(css|html|js|svg|xml)
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule ^(.+) $1.gz
RewriteRule \.css\.gz$ - [T=text/css,E=no-brotli:1,E=no-gzip:1]
RewriteRule \.html\.gz$ - [T=text/html,E=no-brotli:1,E=no-gzip:1]
RewriteRule \.js\.gz$ - [T=application/javascript,E=no-brotli:1,E=no-gzip:1]
RewriteRule \.svg\.gz$ - [T=image/svg+xml,E=no-brotli:1,E=no-gzip:1]
RewriteRule \.xml\.gz$ - [T=application/xml,E=no-brotli:1,E=no-gzip:1]
<FilesMatch \.(css|html|js|svg|xml)\.gz$>
    Header set Content-Encoding gzip
    Header append Vary Accept-Encoding
</FilesMatch>

<FilesMatch \.(css|js)$>
    Header set Cache-Control "public, max-age=86400, no-transform"
</FilesMatch>
