---
import NavigationDropdownItem from './NavigationDropdownItem.astro'
import { isInPathname, isVisible } from '../composables/navigation'
import type { NavigationEntry } from '../types/navigation'

interface Props {
    entry: NavigationEntry
}

const { entry } = Astro.props
const active = isInPathname(Astro.url, entry)
---

<li class="nav-item dropdown">
    <a class:list={['nav-link', 'dropdown-toggle', { active }]} role="button" data-bs-toggle="dropdown" href={entry.url}>
        {entry.title}
    </a>
    <ul class="dropdown-menu">
        {entry.children.filter(isVisible).map(child => <NavigationDropdownItem entry={child} />)}
    </ul>
</li>
