---
import VersionSwitchItem from './VersionSwitchItem.astro'
import type { CurrentPage, PreviewPage } from '../types/version'

interface Props {
    pages: Array<CurrentPage | PreviewPage>
}

const { pages } = Astro.props
---

<div class="toc-version-switch">
    Version:
    {pages.map(page => <VersionSwitchItem page={page} />)}
</div>
