{{- $branch   := site.Params.stableVersion | replaceRE `^(\d+)\..*` `v$1`                         -}}
{{- $path     := .file.Path | replaceRE `\\` `/` | replaceRE `\/?(.*)` `$1`                       -}}
{{- $url      := printf "https://github.com/tinylog-org/website/edit/%s/content/%s" $branch $path -}}
{{- $markdown := printf "You can [edit this %s](%s) on GitHub" (default "page" .name) $url        -}}
<div class="edit">{{ markdownify $markdown }}</div>