<header class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <nav aria-label="Navigation Menu">
        {{- if .Params.tableOfContents }}
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#toc-navbar" aria-label="Table of Contents">
            <span class="navbar-toc-icon"></span>
        </button>
        {{- else }}
        <button class="navbar-toggler invisible">
            <span class="navbar-toc-icon"></span>
        </button>
        {{- end }}
        <a class="navbar-brand" href="{{ `` | safeURL | relURL }}" aria-hidden="true">
            {{ partial "logo.svg" . }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#main-navbar" aria-label="Main Menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-lg offcanvas-end flex-grow-1 bg-dark" id="main-navbar">
            <div class="offcanvas-header text-white">
                <h5 class="offcanvas-title">tinylog {{ substr .Site.Params.stableVersion 0 1 }}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body pt-0">
                {{ partial "navbar.html" . }}
            </div>
        </div>
    </nav>
</header>