<svg xmlns="http://www.w3.org/2000/svg" class="logo" viewBox="0 0 105 40">
    <rect class="logo-rectangle" x="0" y="2" width="28" height="28" rx="4"/>
    <text class="logo-text-invert" x="8" y="26">t</text>
    <text class="logo-text" x="30" y="26">inylog {{ substr .Site.Params.stableVersion 0 1 }}</text>
</svg>