<ul class="navbar-nav">
    {{- $currentPage := . }}
    {{- range .Site.Menus.main }}
    {{- $isActive := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }}
    <li class="nav-item {{ if .HasChildren }}dropdown{{ end }}">
        {{- if and (.HasChildren) (ne .Page.Params.showMenuChildren false) }}
        <a class="nav-link dropdown-toggle {{ if $isActive }}active{{ end }}" role="button" data-bs-toggle="dropdown" href="{{ .URL }}">
            {{ .Name }}
        </a>
        <ul class="dropdown-menu">
            {{- range .Children }}
            {{- $isActive := $currentPage.IsMenuCurrent "main" . }}
            <li>
                <a class="dropdown-item {{ if $isActive }}active{{ end }}" href="{{ .URL }}" {{ if in .URL `/javadoc/` }}target="_blank"{{ end }}>{{ .Name }}</a>
            </li>
            {{- end }}
        </ul>
        {{- else }}
        <a class="nav-link {{ if $isActive }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        {{- end }}
    </li>
    {{- end }}
</ul>
<ul class="navbar-nav ms-lg-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="{{ .Page.Permalink  | safeURL | relURL }}">
            tinylog v{{ substr .Site.Params.stableVersion 0 1 }}
        </a>
        <ul class="dropdown-menu">
            <li>
                {{- $page := .Page }}
                {{- range (seq $page.Site.Params.maxMajorVersion) }}
                {{- if eq (string .) (substr $page.Site.Params.stableVersion 0 1) }}
                <a class="dropdown-item active" href="{{ $page.Permalink  | safeURL | relURL }}">tinylog v{{ . }}</a>
                {{- else }}
                <a class="dropdown-item" href="/v{{ . }}/">tinylog v{{ . }}</a>
                {{- end }}
                {{- end }}
            </li>
        </ul>
    </li>
</ul>
<div class="vr d-none d-lg-block text-white-50"></div>
<hr class="d-lg-none text-white-50">
<ul class="navbar-nav">
    <li class="nav-item social">
        <a class="github-button" href="https://github.com/tinylog-org/tinylog" data-show-count="true">GitHub</a>
    </li>
</ul>
