DirectoryIndex index.html index.php
ErrorDocument 404 /404.html
RewriteRule ^v1/(.*)$ / [R=301,L]
RewriteRule ^v2/(.*)$ /$1 [R=301,L]
RewriteRule ^count-js$ /matomo/matomo.js [L]
RewriteRule ^count-php$ /matomo/matomo.php [L]
