{{- $params    := $.Site.Params                                                                     -}}
{{- $version   := cond (eq (.Get `version`) `preview`) $params.previewVersion $params.stableVersion -}}
{{- $file      := .Get `file`                                                                       -}}
{{- $artifacts := split (.Get `artifacts`) `,`                                                      -}}
{{- $bundles   := split (.Get `bundles`) `,`                                                        -}}

{{- $tabItems := slice                                                                                                                                                                              -}}
{{- $tabItems = $tabItems | append (dict `identifier` `gradle-groovy` `title` `Gradle (Groovy)` `content` (partial `download/gradle-groovy.html` (dict `version` $version `artifacts` $artifacts))) -}}
{{- $tabItems = $tabItems | append (dict `identifier` `gradle-kotlin` `title` `Gradle (Kotlin)` `content` (partial `download/gradle-kotlin.html` (dict `version` $version `artifacts` $artifacts))) -}}
{{- $tabItems = $tabItems | append (dict `identifier` `ivy`           `title` `Ivy`             `content` (partial `download/ivy.html`           (dict `version` $version `artifacts` $artifacts))) -}}
{{- $tabItems = $tabItems | append (dict `identifier` `maven`         `title` `Maven`           `content` (partial `download/maven.html`         (dict `version` $version `artifacts` $artifacts))) -}}
{{- $tabItems = $tabItems | append (dict `identifier` `p2`            `title` `P2`              `content` (partial `download/p2.html`            (dict `version` $version `bundles`   $bundles  ))) -}}
{{- $tabItems = $tabItems | append (dict `identifier` `sbt`           `title` `SBT`             `content` (partial `download/sbt.html`           (dict `version` $version `artifacts` $artifacts))) -}}

{{- partial `tabs.html` (dict `tabGroup` `build-tool` `items` $tabItems `default` `maven`) -}}

{{- if $file }}
Download: {{ partial `download/file-link.html` (dict `version` $version `file` $file) }}
{{ end -}}
