{{- $content := .Inner | markdownify -}}
{{- $divs    := findRE `<div .*?>(.|\n)*?</div>` $content -}}
{{- $scratch := newScratch -}}

{{- range $divs -}}
{{- $identifier := replaceRE `(?:.*)(?:data-identifier=")(.*?)(?:")(?:.|\n)*` `$1` . -}}
{{- $title := replaceRE `(?:.*)(?:data-title=")(.*?)(?:")(?:.|\n)*` `$1` . -}}
{{- $content := replaceRE `^<div .*>((.|\n)*)</div>$` `$1` . -}}
{{- $scratch.Add `items` (slice (dict `identifier` $identifier `title` $title `content` $content)) -}}
{{- end -}}

{{- $defaultItem := index ($scratch.Get `items`) 0 -}}

<table class="{{ if .Get `pills` }}tabs-simple{{ else }}tabs{{ end }}" data-tab-group="{{ .Get `tab-group` }}">
<thead>

{{- if not (.Get `pills`) }}
<tr class="nav">
<th class="dropdown">
<a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="0">{{ $defaultItem.title }}</a>
<ul class="dropdown-menu">
{{- range $scratch.Get `items` }}
{{- if eq .identifier $defaultItem.identifier }}
<li><a class="dropdown-item active" data-tab-item="{{ .identifier }}" tabindex="0">{{ .title }}</a></li>
{{- else }}
<li><a class="dropdown-item" data-tab-item="{{ .identifier }}" tabindex="0">{{ .title }}</a></li>
{{- end }}
{{- end }}
</ul>
</th>
</tr>
{{- end }}

<tr class="nav {{ if .Get `pills` }}nav-pills{{ else }}nav-tabs{{ end }}" role="tablist">
{{- range $scratch.Get `items` }}
{{- if eq .identifier $defaultItem.identifier }}
<th class="nav-link active" data-tab-item="{{ .identifier }}" role="tab" aria-selected="true" tabindex="0">{{ .title }}</th>
{{- else }}
<th class="nav-link" data-tab-item="{{ .identifier }}" role="tab" aria-selected="false" tabindex="0">{{ .title }}</th>
{{- end }}
{{- end }}
</tr>

</thead>
<tbody>

<tr class="tab-content">
{{- range $scratch.Get `items` }}
{{- if eq .identifier $defaultItem.identifier }}
<td class="tab-pane active" data-tab-item="{{ .identifier }}" role="tabpanel">{{ .content | safeHTML }}</td>
{{- else }}
<td class="tab-pane" data-tab-item="{{ .identifier }}" role="tabpanel">{{ .content | safeHTML }}</td>
{{- end }}
{{- end }}
</tr>

</tbody>
</table>
