name: Build

on:
  - push
  - pull_request

jobs:

  build:

    name: Build Website
    runs-on: ubuntu-24.04

    outputs:
      timestamp: ${{ steps.timestamp.outputs.timestamp }}

    steps:

      - name: Checkout Website Repository
        uses: actions/checkout@v6

      - name: Resolve tinylog Version
        run: |
          pip3 install jq
          echo "TINYLOG_VERSION=$(jq -r '.versions.v2.current' tinylog.json)" >> $GITHUB_ENV

      - name: Checkout tinylog Repository
        uses: actions/checkout@v6
        with:
          repository: tinylog-org/tinylog
          ref: ${{ env.TINYLOG_VERSION }}
          path: tinylog

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Java
        uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: zulu

      - name: Install Dependencies
        run: npm install

      - name: Build Website
        run: npm run astro:build

      - name: Generate API Documentation
        run: |
          cd tinylog/tinylog-api
          mvn -P release --no-transfer-progress --batch-mode javadoc:javadoc

      - name: Copy API Documentation
        run: |
          rm -r dist/javadoc/*
          cp -R tinylog/tinylog-api/target/site/apidocs/* dist/javadoc

      - name: Generate sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          path-to-root: dist
          base-url-path: https://tinylog.org
          exclude-paths: /404 /google179accde67aec4e2.html

      - name: Compress files
        uses: stefh/ghaction-CompressFiles@v2
        with:
          path: dist
          depth: 10
          extensions: .css,.html,.js,.svg,.xml

      - name: Generate Timestamp
        id: timestamp
        run: echo "timestamp=$(date +'%Y%m%d-%H%M')" >> $GITHUB_OUTPUT

      - name: Upload Generated Files
        uses: actions/upload-artifact@v6
        with:
          name: website-${{ steps.timestamp.outputs.timestamp }}
          path: dist

  astro-check:

    name: Run Astro check
    runs-on: ubuntu-24.04

    steps:

      - name: Checkout Website Repository
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Dependencies
        run: npm install

      - name: Run Astro
        run: npm run astro:check

  eslint:

    name: Run ESLint
    runs-on: ubuntu-24.04

    steps:

      - name: Checkout Website Repository
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Dependencies
        run: npm install

      - name: Run ESLint
        run: npm run eslint:check

  remark-lint:

    name: Run remark-lint
    runs-on: ubuntu-24.04

    steps:

      - name: Checkout Website Repository
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Dependencies
        run: npm install

      - name: Run remark-lint
        run: npm run remark:check

  stylelint:

    name: Run Stylelint
    runs-on: ubuntu-24.04

    steps:

      - name: Checkout Website Repository
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Dependencies
        run: npm install

      - name: Run Stylelint
        run: npm run stylelint:check

  check-spelling:

    name: Check Spelling
    runs-on: ubuntu-24.04

    steps:

      - name: Checkout Website Repository
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Dependencies
        run: npm install

      - name: Run CSpell
        run: npm run cspell:check

  validate-html:

    name: Validate HTML
    runs-on: ubuntu-24.04
    needs: build

    steps:

      - name: Download Generated Files
        uses: actions/download-artifact@v7
        with:
          name: website-${{ needs.build.outputs.timestamp }}
          path: dist

      - name: Validate HTML
        uses: Cyb3r-Jak3/html5validator-action@v8.0.0
        with:
          log_level: INFO
          skip_git_check: true
          root: dist
          blacklist: google179accde67aec4e2.html javadoc

  check-links:

    name: Check Links
    runs-on: ubuntu-24.04
    needs: build

    steps:

      - name: Checkout Website Repository
        uses: actions/checkout@v6

      - name: Download Generated Files
        uses: actions/download-artifact@v7
        with:
          name: website-${{ needs.build.outputs.timestamp }}
          path: dist

      - name: Generate sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          path-to-root: dist
          base-url-path: http://localhost:8080

      - name: Load Pages from Sitemap
        run: |
          echo "PAGES=$(cat ./dist/sitemap.xml | grep -oE 'http://localhost:8080/[^<>]*' | tr '\n' ' ')" >> $GITHUB_ENV

      - name: Start HTTP Server
        uses: Eun/http-server-action@v1
        with:
          directory: dist
          index-files: |
            ["index.html"]
          port: 8080

      - name: Check Links
        uses: lycheeverse/lychee-action@v2
        with:
          args: --no-progress --include-fragments --accept '100..=103,200..=299,403,429' --exclude '^https://github.com\/tinylog-org\/website\/blob\/(\w+)/src/(pages|posts)/' ${{ env.PAGES }}
          token: ${{ secrets.LINK_CHECK_TOKEN }}
