name: Build

on:
  - push
  - pull_request

jobs:

  pre-checks:

    name: Resolve Pre-Checks
    runs-on: ubuntu-20.04
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name }}

    steps:

      - name: Print Info
        run: |
          echo "Branch push or external pull request detected"

  lint-sass:

    name: Lint SASS
    runs-on: ubuntu-20.04
    needs: pre-checks

    steps:

      - name: Checkout Website Repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install Dependencies
        run: npm install

      - name: Run Stylelint
        run: npm run stylelint:check

  lint-typescript:

    name: Lint Typescript
    runs-on: ubuntu-20.04
    needs: pre-checks

    steps:

      - name: Checkout Website Repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install Dependencies
        run: npm install

      - name: Run ESLint
        run: npm run eslint:check
